.game-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  padding: 10px;
}

.game-card {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;        /* increase padding for more spacing */
  width: 180px;         /* increase width */
  height: 400px;        /* increase height */

}

.game-card img {
  width: 100%;
  height: 360px;        /* increase image height */
  object-fit: cover;
  border-radius: 6px;
}